.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--clr-text-primary);
	background: var(--clr-background-L1);
	min-height: 50px;
	width: 100%;
	border-radius: 4px;
	border: solid 2px var(--clr-primary-opacity-low);
	user-select: none;
}

/* Page Selector Styles  */
.page-selector {
	display: flex;
	justify-content: center;
	gap: 0.35rem;
	min-width: 280px;
	list-style-type: none;
}

.page-selector li {
	text-align: center;
	background: var(--clr-background-L1);
	flex: 1 1 2%;
	max-width: 25px;
	border: solid 1px var(--clr-primary-opacity-low);
	border-radius: 2px;
	transition: 0.2s ease;
	user-select: none;
	cursor: pointer;
}

.page-selector li:hover {
	color: var(--clr-primary);
	background: var(--clr-background-L3);
}

.page-selector .active {
	color: var(--clr-white);
	background: var(--clr-primary);
	border: solid 1px var(--clr-primary-opacity-low);
}

.page-selector .active:hover {
	color: var(--clr-white);
	background: var(--clr-primary);
}

.next-prev-page {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
}

.next-prev-page.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.next-prev-page.disabled:hover {
	color: var(--clr-white);
	background: var(--clr-background-L1);
}

.next-prev-page:hover {
	color: var(--clr-primary);
}
/* End Page Selector Styles  */

.page-showing {
	flex: 1 1 35%;
	padding: 0 0 0 1rem;
}

.row-selector {
	flex: 1 1 35%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 0.65rem 0 0;
	position: relative;
}

.row {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	gap: 0.25rem;
	user-select: none;
	margin-left: 0.35rem;
	padding: 0.35rem 0.5rem;
	border-radius: 2px;
	cursor: pointer;
}

.row:hover {
	background: var(--clr-hover);
}

.row-list {
	opacity: 0;
	width: 50px;
	text-align: center;
	background: var(--clr-background-L2);
	padding: 0.15rem;
	position: absolute;
	list-style: none;
	border-radius: 2px;
	pointer-events: none;
	transition: 0.2s ease;
	right: 10px;
	top: 38px;
}

.row-list.active {
	opacity: 1;
	pointer-events: auto;
}

.row-item {
	user-select: none;
	padding: 0.1rem 0.35rem;
	cursor: pointer;
}

.row-item:hover {
	padding: 0.1rem 0.35rem;
	background: var(--clr-hover);
}

/* Media Queries */
@media only screen and (max-width: 820px) {
	.pagination {
		padding: 0.5rem;
		display: flex;
		flex-wrap: wrap;
	}

	.page-selector {
		order: -1;
		flex-basis: 100%;
		margin-bottom: 0.35rem;
	}
}

@media only screen and (max-width: 540px) {
	.page-showing {
		flex: 1 1 55%;
		padding: 0;
	}

	.row-selector {
		flex: 1 1 35%;
		padding: 0;
	}

	.row-list {
		right: 0;
		top: 38px;
	}
}
@media only screen and (max-width: 440px) {
	.page-selector {
		min-width: 250px;
	}
	.page-showing,
	.row-selector {
		display: flex;
		justify-content: center;
		flex: 1 1 100%;
		padding: 0;
	}

	.page-showing {
		margin-top: 0.5rem;
	}
	.row-selector {
		flex-basis: 100%;
		justify-content: space-between;
		margin-top: 0.25rem;
	}
}
/* End Media Queries */
