.search-bar {
	display: flex;
	margin: 2rem 0;
	width: 55%;
	position: relative;
}

.search-bar [type='text'] {
	margin: 0 auto;
	width: 100%;
	color: var(--clr-text-primary);
	background: var(--clr-background-secondary);
	padding: 0.25rem 0.5rem;
	border: 1px solid var(--clr-black-opacity-low);
	border: 1px solid rgb(118, 118, 118);
	font-size: 1.1rem;
	border-radius: 4px;
	outline: none;
}

.search-bar [type='text']:focus {
	border: 1px solid var(--clr-primary-opacity-low);
	border-radius: 4px;
	outline: none;
}

.search,
.times {
	position: absolute;
	right: 8px;
	top: 7px;
	font-size: 1.45rem;
	color: var(--clr-text-secondary);
	transition: none;
}

.times {
	right: 12px;
	top: 7px;
}

.search:hover {
	color: var(--clr-primary);
}

.times:hover {
	color: var(--clr-danger);
}
