.search-container {
	width: max(60%, 500px);
	margin: 6rem 0 3rem;
	padding: 1rem;
	border: solid 1px var(--clr-primary-opacity-low);
	color: var(--clr-text-primary);
	background: var(--clr-background-L1);
	border-radius: 4px;
}

.metrics {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}

.metrics-section {
	display: flex;
	gap: 0 0.75rem;
	justify-content: space-between;
	font-weight: 600;
}

.metrics-value {
	color: var(--clr-primary);
}

.search-bar {
	width: 100%;
	position: relative;
}

::placeholder {
	color: var(--clr-text-secondary);
}
:-ms-input-placeholder {
	color: var(--clr-text-secondary);
}
::-ms-input-placeholder {
	color: var(--clr-text-secondary);
}

.search-bar [type='text'] {
	margin: 0 auto;
	width: 100%;
	color: var(--clr-text-primary);
	background: var(--clr-background-L2);
	padding: 0.25rem 0.5rem;
	border: 1px solid var(--clr-primary-opacity-low);
	font-size: 1.1rem;
	border-radius: 4px;
	outline: none;
}

.search-bar [type='text']:focus {
	border: 1px solid var(--clr-primary);
	background: var(--clr-background-L3);
	border-radius: 4px;
	outline: none;
}

.search,
.times {
	position: absolute;
	right: 8px;
	top: 7px;
	font-size: 1.45rem;
	color: var(--clr-text-secondary);
	transition: none;
}

.search.loading,
.times.loading {
	pointer-events: none;
}

.times {
	right: 12px;
	top: 7px;
}

.search:hover {
	color: var(--clr-primary);
}

.times:hover {
	color: var(--clr-danger);
}

@media only screen and (max-width: 880px) {
	.search-container {
		width: min(100%, 500px);
	}
	.metrics {
		/* flex-direction: column; */
		align-items: center;
		margin-bottom: 1.5rem;
	}
	.metrics-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 600;
	}
}
