.crypto-table {
	width: 100%;
	padding: 1rem 1rem 0.75rem;
	border: solid 2px var(--clr-black-opacity-high);
	border-radius: 4px;
	color: var(--clr-text-primary);
	background-color: var(--clr-background-primary);
	margin-bottom: 3rem;
	overflow-x: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
}

.table-item {
	height: 50px;
	position: relative;
}

.crypto-table thead {
	font-size: 1.2rem;
	border-bottom: 1rem solid transparent;
}

th.rank {
	width: 5%;
}
th.img {
	width: 7%;
}
th.symbol {
	width: 7%;
}
th.price-change {
	width: 10%;
}
th.info {
	width: 1%;
}

.drop-info {
	top: -0.15rem;
	right: 0.25rem;
	font-size: 1.5rem;
}

.show-info:hover,
.hide-info:hover {
	color: var(--clr-primary);
}

.show-info {
	transform: rotate(180deg);
}
.hide-info {
	transform: rotate(0);
}

.crypto-table tbody tr {
	border-bottom: 0.5rem solid transparent;
}

td img {
	height: 30px;
}

/* Info under crypto item */
.table-info {
	height: 0;
	opacity: 0;
	width: 100%;
	transition: 0.2s ease;
	border-bottom: 0 !important;
}

.table-info.show {
	height: 0;
	opacity: 1;
	transition: 0.2s ease;
	width: 100%;
}
/* Info under crypto item */

.border-bottom {
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: calc(1rem / 24); /* fixes <1px borders */
	background-color: var(--clr-black-opacity-high);
}

.danger {
	color: var(--clr-danger);
}
.success {
	color: var(--clr-success);
}
.no-change {
	color: var(--clr-text-primary);
}
