.crypto-table {
	--transition-time: 0.2s linear;
}

.crypto-table {
	width: 100%;
	padding: 1rem 1rem 0.75rem;
	border: solid 2px var(--clr-black-opacity-high);
	color: var(--clr-text-primary);
	background-color: var(--clr-background-primary);
	border-radius: 4px;
	margin-bottom: 3rem;
	overflow-x: auto;
	overflow-y: hidden;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
}

.crypto-table thead {
	font-size: 1.2rem;
	border-bottom: 1rem solid transparent;
}

/* Headers */
th.rank {
	width: 5%;
}
th.img {
	width: 7%;
}
th.symbol {
	width: 7%;
}
th.price-change {
	width: 10%;
}
th.info {
	width: 1%;
}
/* End Headers */

.table-item {
	height: 55px;
	position: relative;
}

.crypto-table tbody tr {
	border-bottom: 0.5rem solid transparent;
}

.drop-info-icon {
	top: -0.15rem;
	right: 0.25rem;
	font-size: 1.5rem;
}

.show-info:hover,
.hide-info:hover {
	color: var(--clr-primary);
}

.show-info {
	transform: rotate(180deg);
}
.hide-info {
	transform: rotate(0);
}

td img {
	margin-top: 0.35rem;
	height: 30px;
}

/* Info under crypto item */
.table-info {
	position: relative;
	height: 0;
	opacity: 0;
	width: 100%;
	transition: var(--transition-time);
	border-bottom: 0 !important;
	line-height: 0;
}

.show {
	opacity: 1;
	line-height: 2;
}

.info-section {
	margin-bottom: 0.75rem;
}

.info-section p {
	text-align: left;
}

.flex {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

/* Chart */
.chart {
	width: 120px;
	height: 66px;
	background-color: cadetblue;
	border: solid 1px var(--clr-black-opacity-high);
	transition: var(--transition-time);
}

.chart-hidden {
	height: 10px;
	border: none;
}
/* End Chart */

/* Info under crypto item */

.border-bottom {
	position: absolute;
	left: 0;
	opacity: 1 !important;
	bottom: -12px;
	width: 100%;
	transition: var(--transition-time);
	height: calc(1rem / 32) !important; /* fixes <1px borders */
	background-color: var(--clr-black-opacity-high);
}

.border-bottom.active {
	position: absolute;
	left: 0;
	opacity: 1 !important;
	bottom: -92px;
	width: 100%;
	transition: var(--transition-time);
	height: calc(1rem / 32) !important; /* fixes <1px borders */
	background-color: var(--clr-black-opacity-high);
}

.danger {
	color: var(--clr-danger);
}
.success {
	color: var(--clr-success);
}
.no-change {
	color: var(--clr-text-primary);
}

@-moz-document url-prefix() {
	.border-bottom {
		bottom: 0;
		height: calc(1rem / 32) !important; /* fixes <1px borders */
	}
}
