/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
	/* Background */
	--clr-background-L0: #ffffff; /* Body */
	--clr-background-L1: #fbfbfb; /* Nav, Search(inactive), Table,  Footer,  */
	--clr-background-L2: #f5f8fb; /* Hover table item */
	--clr-background-L3: #f0f3fb; /* Chart */
	--clr-base: #855db5;
	/* Text */
	--clr-text-primary: #1b1b1b;
	--clr-text-secondary: #5f5f5f;
	/* Primary Colors */
	--clr-primary: #68498d;
	--clr-primary-opacity-low: #68498d99;
	--clr-primary-opacity-high: #68498dcc;
	/* White and Hover */
	--clr-white: #fafafa;
	--clr-hover: #f0f0f0;
	/* Success and Danger */
	--clr-danger: #ab141c;
	--clr-success: #096a19;
	/* Other */
	--font-main: 'Poppins', sans-serif;
	--nav-heigth: 3rem;
	--box-shadow: 0px 0px 10px 0px rgb(27 27 27 / 35%);
}

.darkmode {
	/* Background */
	--clr-background-L0: #1b181f; /* Body */
	--clr-background-L1: #242128; /* Nav, Search(inactive), Table,  Footer,  */
	--clr-background-L2: #2b282f; /* Hover table item */
	--clr-background-L3: #322f36; /* Chart */
	/* Text */
	--clr-text-primary: #fafafa;
	--clr-text-secondary: #aeaeae;
	--clr-hover: #353535;
	/* Primary Colors */
	--clr-primary: #b69ed3;
	/* Opacity */
	--clr-primary-opacity-low: #b69ed399;
	--clr-primary-opacity-high: #b69ed3bb;
	/* Success and Danger */
	--clr-danger: #f96767;
	--clr-success: #12cc2f;
}

html {
	overflow-y: scroll;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-main);
}

::selection {
	background: var(--clr-primary-opacity-low);
}

body {
	background: var(--clr-background-L0);
	overflow-x: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - var(--nav-heigth));
	width: min(1200px, 95vw);
	margin: 0 auto;
	margin-top: var(--nav-heigth);
	align-items: center;
}

.icon {
	color: var(--clr-text-primary);
	user-select: none;
	cursor: pointer;
}
