.navbar {
	position: fixed;
	top: 0;
	width: 100vw;
	height: var(--nav-heigth);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--clr-white);
	color: var(--clr-black);
	/* border-bottom: solid 1px var(--clr-primary); */
	box-shadow: var(--box-shadow);
	/* box-shadow: 0 0 6px var(--clr-primary); */
	z-index: 100;
}

.nav-info {
	width: min(40%, 200px);
	margin-left: 1rem;
}

.nav-info a {
	display: flex;
	align-items: center;
	width: 100%;
	text-decoration: none;
}

.nav-info img {
	height: 34px;
	cursor: pointer;
}

.nav-info h1 {
	margin-top: 0.35rem;
	margin-left: 0.35rem;
	user-select: none;
	color: var(--clr-black);
}

.nav-info h1 span {
	color: var(--clr-primary);
}

.controls {
	margin-right: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.controls > div {
	border-radius: 4px;
	transition: 0.2s ease;
}

.moon,
.usd,
.sort {
	font-size: 1.1rem;
	color: var(--clr-black);
}

.currency-toggler {
	padding: 0.35rem 0.5rem;
	display: flex;
	margin-left: 0.5rem;
	cursor: pointer;
}

.currency-toggler .usd {
	margin-top: 0.15rem;
}

.icon-wrapper:hover,
.currency-toggler:hover {
	background: var(--clr-black-opacity-high);
}

.icon-wrapper {
	padding: 0.35rem 0.5rem;
	cursor: pointer;
}

.currency {
	margin: 0 0.35rem;
}
