.navbar {
	position: fixed;
	top: 0;
	width: 100vw;
	height: var(--nav-heigth);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--clr-white);
	color: var(--clr-black);
	box-shadow: var(--box-shadow);
	z-index: 100;
}

.info {
	align-items: center;
	width: min(40%, 200px);
	display: flex;
	margin-left: 1rem;
}

.info a {
	display: flex;
	width: 100%;
	text-decoration: none;
}

.info img {
	height: 45px;
	cursor: pointer;
}

.info h1 {
	text-transform: capitalize;
	margin-top: 0.45rem;
	margin-left: 0.35rem;
	user-select: none;
	color: var(--clr-black);
}

.controls {
	margin-right: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.controls > div {
	border-radius: 4px;
	transition: 0.2s ease;
}

.icon {
	font-size: 1.1rem;
}

.currency-toggler {
	padding: 0.35rem 0.5rem;
	display: flex;
	margin-left: 0.5rem;
	cursor: pointer;
}

.currency-toggler .usd {
	margin-top: 0.15rem;
}

.icon-wrapper:hover,
.currency-toggler:hover {
	background: var(--clr-black-opacity-low);
}

.icon-wrapper {
	padding: 0.35rem 0.5rem;
	cursor: pointer;
}

.icon {
	color: var(--clr-black);
	user-select: none;
	cursor: pointer;
}

.currency {
	margin: 0 0.35rem;
}
